body {
  margin: 0;
  padding: 0;
  color: #3a3b4c;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.card {
  width: 60%;
  margin: 60px auto;
}

.control {
  margin-bottom: 15px;
}

.control input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin: 15px 0 0;
}

button {
  width: 200px;
  margin: 40px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  button {
    max-width: 100%;
  }
}

/* #filter {
  display: none;
} */

.card {
  padding: 40px;
  border: 2px solid #3a3b4c;
  border-radius: 8px;
  margin-bottom: 40px;
}

.form-control {
  display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}


#movie-list {
  display: none;
  list-style: none;
  padding: 1rem;
}

.visible {
  display: block;
}


#movie-list.visible, #filter.visible  {
  display: block;
}

#movie-list li {
  margin: 1rem;
  color: #ff0062;
  font-weight: bold;
  font-size: 1.5rem;
}

